@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin:0;
    padding:0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}


#layer1{
    background-color:#fff;
    width: 245px;
    height:20%;
    max-height:50px;
    visibility: hidden;
    border-radius: 15px;
}

#layer2{
    background-color: aqua;
    width: 200px;
    height:20%;
    max-height:50px;
    left: 40px;
    visibility: hidden;
    border-radius: 15px;
}

#layer3{
    background-color:blue;
    width: 160px;
    height:20%;
    max-height:50px;
    left: 60px;
    visibility: hidden;
    border-radius: 15px;
}

#layer4{
    background-color:brown;
    width: 120px;
    height:20%;
    max-height:50px;
    left: 80px;
    visibility: hidden;
    border-radius: 15px;
}

#layer5{
    background-color:coral;
    width: 80px;
    height:20%;
    max-height:50px;
    left: 100px;
    visibility: hidden;
    border-radius: 15px;
}

#candles{
    max-height:50px;
    left: 120px;
    visibility: hidden;
}

/* Fill your code*/
.container{
    background-color: rgb(88, 38, 38);
    width: 100vw;
    height: 100vh;
}

.main-board{
    background-color: rgb(180, 66, 180);
    width: 100vw;
    height: 80vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.prices,.bill{
    width: 300px;
    height: 300px;
    background: url("./assets/list_template.png");
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
}

.cake{
    width:300px;
    height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.logo{
    text-align: center;
    height: 10vh;
    width: 100vw;
}

.name{
    background:#333;
    width:250px;
    position: absolute;
    top:10px;
    left:calc(50vw - 125px);
    border-radius: 50%;
}

.prices,.bill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.15rem;
}

ul{
    list-style: none;
}

.buttons{
    display: flex;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
}

.buttons>a{
    background-color: rgb(180, 66, 180);
    padding:.5rem 1rem;
    border-radius: 10px;
}

.buttons>a:hover{
    box-shadow: #fff 1px 1px 15px;
}

#buy{
    background-color: lightgreen;
    color: #333;
    border-color: #333;
    border-width: 2px;
    border-style: solid;
}